<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparisons_Page</title>
</head>
<body>
    <h1>Latitude</h1>
    <hr/>
    <h1>Comparison: Latitude vs. X</h1>

    <h4 align="left">Click any plot to in-depth analysis</h4>
        

    <p align="center">
        
        <a href="{{url_for('temp')}}">
            <img src="{{url_for('static', filename='Fig1.png')}}" width="555" height="355" border="0"/> 
        </a>
        <a href="{{url_for('humi')}}">
            <img src="{{url_for('static', filename='Fig2.png')}}" width="555" height="355" border="0"/> 
        </a>
    </p>

    <p align="center">
        
        <a href="{{url_for('clou')}}">
            <img src="{{url_for('static', filename='Fig3.png')}}" width="555" height="355" border="0"/> 
        </a>   
        <a href="{{url_for('wind')}}">
            <img src="{{url_for('static', filename='Fig4.png')}}" width="555" height="355" border="0"/> 
        </a>   
    </p> 
</body>
</html>