<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization_Lat_vs_Wind</title>
    <style>
        #header {
            color:#FFFFFF;
            background-color:#3eada8; 
        }
        #headerII {
            color:#3eada8;
             
        }

        #headerIII {
            color:#3eada8; 
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="header">
        <p>
            <h1>Latitude</h1>
        </p>
    </div>
  
    
    <div id="headerII">
        <p>
            <h1>Wind Speed</h1>

        </p>
    </div>
    
    <p align="left">
        <a href="{{url_for('index')}}">
            <img src="{{url_for('static', filename='Fig4.png')}}" width="700" height="405" border="0">
        </a>
                
    </p>

    <div id="headerIII">
        <p>
            <h2>Visualizations</h2>
        </p>
    </div>
    
    <br/>

    <p align="center">
        <a href="{{url_for('temp')}}">
            <img src="{{url_for('static', filename='Fig1.png')}}" width="300" height="205" border="0"/> 
        </a>
        <a href="{{url_for('humi')}}">
            <img src="{{url_for('static', filename='Fig2.png')}}" width="300" height="205" border="0"/> 
        </a>
        <a href="{{url_for('clou')}}">
            <img src="{{url_for('static', filename='Fig3.png')}}" width="300" height="205" border="0"/> 
        </a>   
        <a href="{{url_for('wind')}}">
            <img src="{{url_for('static', filename='Fig4.png')}}" width="300" height="205" border="2"/> 
        </a>   
    </p> 
    

</body>
</html>